body, html {
	margin: 0;
	overflow: hidden;
}
canvas {
	background-color: #F68C02;
}
@font-face {
	font-family: "Digital7";
	src: url("../assets/digital-7.ttf");
}
@font-face {
	font-family: "ArcadeClassic";
	src: url("../assets/arcadeClassic.ttf");
}
